.error {
    color: red;
}

.me {
    font-weight: bold;
}

#users ul {
    margin: 0;
    padding: 0;
}

#users li {
    list-style: none;
}

#users li.online {
    color: green;
}

#users li.away {
    color: orange;
}

#console {
    font-family: monospace;
    white-space: pre;
}

#console legend {
    font-weight: bold;
}
